@import url(https://fonts.google.com/specimen/Outfit?selected=Material+Symbols+Sharp:add:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%231f1f1f&icon.style=Sharp);
:root{
    --color-primary:#54ccc4;
    --color-logo2:#7b2229;
    --color-success: #41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(139, 235, 222, 0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background: #f6f6f9;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-fill:#f1f1f1;
    --color-fill-bg:#cff0ef;
}
.dark-theme-variables{
    --color-background: #181a1e;
    --color-logo2:#dc5661;
    --color-white: #252929;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light:rgba(70, 81, 81, 0.4);
    --box-shadow:0 2rem 3rem #353737;
    --color-fill:#3d3c3c;
    --color-fill-bg:#337e79;
}
*{
margin: 0;
padding: 0;
outline: 0;
appearance: none;
border: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
   font-family: Outfit , sans-serif;
   font-size: 0.88rem;
   background-color: var(--color-background);
   user-select: none;
   overflow-x: hidden;
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns:14rem auto 23rem ;
}

a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 3vw;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--color-dark);
}
h2{
    font-size: 1.4rem;
    color: var(--color-dark);
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
    color: var(--color-dark);
}
.profile-photo {
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color:var(--color-info-dark);
}
p{
   color: var(--color-dark-variant); 
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.logo2{
    color: var(--color-logo2);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}
/*-----------------SIDEBAR----------------*/
aside{
    height: 100vh;
}
aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    width: 2rem;
    height: 2rem;
}
aside .close{
    display: none;
    color: var(--color-dark);
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3{
    font-weight: 700;
    font-size: 0.9rem;
}
aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a i{
    font-size: 1.6rem;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active{
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
}
aside .sidebar a.active i{
    color: var(--color-primary);
    margin-left: calc(1rem- 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover i{
    margin-left: 1rem;
}
aside .sidebar .message-count{
    background: rgb(188, 30, 30);
    color: white;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 4px;
}
/*-----------------SIDEBAR----------------*/



/*----------------MAIN------------------*/
main{
    margin-top: 1.4rem;
}
main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.5rem;
}
main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}
main .insights{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1.6rem;
}
main .insights > div{
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 20px;
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .insights > div:hover{
    box-shadow: none;
}
main .insights > div i{
    background-color: rgb(229, 82, 74);
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
}
main .insights > div.expenses i{
    background-color: rgb(164, 147, 242);
}
main .insights > div.income i{
    background-color: rgb(242, 213, 147);
}
main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
    color: var(--color-dark);
}
main .insights .progress{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10px;
}
main .insights svg{
    width: 7rem;
    height: 7rem;
}
main .insights svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 5;
    stroke-linecap: round;
    transform: translate(5px 5px);
    stroke-dashoffset: 92;
    stroke-dasharray: 110;
}
main .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .insights .expenses svg circle{
    stroke-dashoffset: 15;
    stroke-dasharray: 80;
}
main .insights .income svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}
main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .insights small{
    margin-top: 1.3rem;
    display: block;
}
main .recent-orders{
    margin-top: 2rem;    
}
main .recent-orders h2{
    margin-bottom: 0.8rem;
    color: var(--color-dark);
}
main .recent-orders table{
    background-color: var(--color-white);
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .recent-orders table:hover{
    box-shadow: none;
}
main table thead th{
    color: var(--color-dark);
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}
main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary)
}
.right{
    margin-top: 1.4rem;
}
.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top button{
    display: none;
}
.right .theme-toggler{
    background: var(--color-light);
    display: flex;
    /* gap: 0.5rem; */
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    /* width: 4.8rem; */
    cursor: pointer;
    border-radius: 5px;
}
.right .theme-toggler {
    font-size: 1.2rem;
    width: 20%;
    height: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    color: var(--color-dark);
    justify-content: space-between;
}
.right .theme-toggler .active{
    background: var(--color-primary);
    color: white;
    border-radius: 5px;
    padding: 3px;
}
.right .top .profile{
    display: flex;
    gap: 20px;
}
.right .recent-updates{
    margin-top: 1rem;
}
.right .recent-updates h2{
    margin-bottom: 0.8rem;
    color: var(--color-dark);
}
.right .recent-updates .updates{
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .recent-updates .updates:hover{
    box-shadow: none;
}
.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}
.right .sales-analytics {
    margin-top: 2rem;
}
.right .sales-analytics h2{
    margin-bottom: 0.8rem;
    color: var(--color-dark);
}
.right .sales-analytics .item{
    background-color: var(--color-white);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}
.right .sales-analytics .item:hover{
    box-shadow: none;
}
.right .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}
.right .sales-analytics .item .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
}
.right .sales-analytics .item.offline .icon{
    background-color: var(--color-logo2);
}
.right .sales-analytics .item.customers .icon{
    background-color: var(--color-success);
}
.right .sales-analytics .add-product{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
}
.right .sales-analytics .add-product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.right .sales-analytics .add-product div h3{
    font-weight: 600;
}

/* ################ MEDIA QUERIES ################ */
@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }
    .main .recent-orders table{
        width: 84vw;
    }
    main table thead tr th:last-child, main table thead tr th:first-child{
        display: none;
    }
}
@media screen and (max-width:820px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        left: -250px;
        background: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light) ;
        height: 100vh;
        padding-right: 10px;
        transition: 0.3s;
    }
    aside.open {
        left: 0px;  
    }
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }
    aside .close{
        display: inline-block;
        cursor: pointer;
    }
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .recent-orders table{
        width: 100%;
        margin: 0;
    }
    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }
    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }
    .right .top .theme-toggler{
        width: 4.4rem;
        height: 2rem;
        position: absolute;
        left: 66%;
    }
    .right .profile .info{
        display: none;
    }
    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
    .right .top button span{
        font-size: 2rem;
    }
  
}